<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <h1 align="center">Projeto Integrador 2 para Computação</h1>
    <a href="/">Voltar para o início</a>
    <div>
        <h2>Projeto</h2>
        <p>
            Aplicativo Web para auxiliar os alunos da Universidade Virtual do Estado de São Paulo a formar 
            grupos para Projeto Integrador.
        </p>
    </div>
    <div>
        <h2>Integrantes do Grupo</h2>
        <p>André</p>
        <p>Aline</p>
        <p>Marcia</p>
        <p>Mayara</p>
        <p>Robson</p>
    </div>
</body>
</html>